spring:
  data:
    mongodb:
      database: client
  kafka:
    consumer:
      auto-offset-reset: earliest
kafka:
  bootstrap: localhost:9092
server:
  port: 7000
logging:
  level:
    org:
      springframework:
        transaction:
          interceptor: TRACE
